# Node.js
node_modules/

# npm log-Dateien
npm-debug.log
yarn-error.log

# macOS-Daten (falls du auf einem Mac arbeitest)
.DS_Store

# IDE/Editor-Konfigurationsdateien
.vscode/
.idea/

# Umgebungsvariablen
.env

# Build-spezifische Dateien (optional)
*.log

# Betriebssystem-spezifische Dateien
Thumbs.db