.competence {

    background: var(--white);

    .competenceContainer {
        width: 80%;
        max-width: 1280px;
        margin: 0 auto;
    }

    img {
        margin: 0 auto;
    }

    h3 {
        min-height: 70px;
    }

    .col-33 {
        gap: 40px;
        .col {
            background: var(--neutral-light);
            hyphens: auto;
            word-wrap: break-word;
            width: 100%;

            .teaser {
                display: flex;
                align-items: center;
                justify-content: center;
                min-height: 15vh;
                width: 100%;
            }
        }
    }
}
