@use "../utils/mixins" as m;

.competence {
    background: var(--white);

    .intro {
        padding: 0 0 40px 0;
    }

    .col-33 {
        display: flex;
        gap: 2px;
        flex-direction: row; // Sicherstellen, dass die Spalten immer nebeneinander bleiben

        .col {
            position: relative;
            background: var(--neutral-light);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            font-size: 1rem;
            transition: background 0.3s ease-in-out;
            width: 100%;
            max-width: 33.33%; // Sicherstellen, dass sie gleichmäßig verteilt sind
            text-align: center;

            // Teaser-Bild
            .teaser {
                img {
                    margin: 0 auto 0;
                    max-width: 100%;
                    width: 200px;
                    height: auto;
                    opacity: 0.9;

                    @include m.respond-to(tablet) {
                        margin: 30px auto;
                    }
                }
            }

            // Standardmäßiger Hintergrund für alle Spalten
            &:hover {
                background: #e5e5e5;
            }

            // Inaktive Spalten farblich hervorheben
            &.comp-list:not(.active-col) {
                background: #e5e5e5;
                border-bottom: 2px solid var(--white);
            }

            // Aktive Spalte bleibt in Standardfarbe
            &.active-col {
                background-color: var(--neutral-light) !important;

                @include m.respond-to(tablet) {
                    border-bottom: 2px solid var(--neutral-light);
                }

                .plus-minus {
                    background: var(--neutral-dark);
                    color: var(--white);
                }
            }

            // Hover-Effekt nur für nicht aktive Spalten
            &.comp-list:not(.active-col):hover {
                background-color: #dcdcdc;
            }
        }
    }

    // Container für die Beschreibung
    .description-container {
        padding: 24px 12px 12px 12px;
        background: var(--neutral-light);
        margin: 0;
        display: none;
        width: 100%;

        @include m.respond-to(tablet) {
            padding: 42px 42px 24px 42px;
        }

        h3 {
            padding: 0px;
            display: block;

            @include m.respond-to(tablet) {
                padding: 0 0 24px;
            }
        }
    }

    // Entferne die mobile Ansicht-Anpassung, die die Spalten untereinander anordnete
    .description {
        display: none; // Kein direktes Anzeigen innerhalb der `.col`
    }
}
