@use "../utils/mixins" as m;

.competence {
    background: var(--white);

    .competenceContainer {
        width: 80%;
        max-width: 1280px;
        margin: 0 auto;
    }

    // Überschrift
    h3 {
        min-height: 70px;
    }

    // Bild-Styling
    img {
        margin: 0 auto;
    }

    // Container für die Spalten
    .col-33 {
        @include m.respond-to(tablet) {
            gap: 2px;
        }

        .col {
            position: relative;
            background: var(--neutral-light); /* Standard Hintergrund */
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;
            padding: 10px 40px 40px 20px;
            font-size: 1rem;

            // Teaser Styling
            .teaser {
                display: flex;
                align-items: center;
                justify-content: center;
                min-height: 15vh;
                width: 100%;
            }

            // Chevron Styling
            .plus-minus {
                position: absolute;
                top: 0;
                right: 0;
                font-size: 30px;
                cursor: pointer;
                text-align: center;
                margin: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 32px;
                height: 32px;
                background: var(--hero-bg);
                color: var(--neutral-light);
            }

            // Standardmäßiger Hintergrund für alle Spalten
            &:hover {
                background: #e5e5e5;
            }

            // ❗ Inaktive Spalten (ALLE außer der aktiven) sollen farblich hervorgehoben werden
            &.comp-list:not(.active-col) {
                background: #dcdcdc; /* Farbe für inaktive Spalten */
                border-bottom: 40px solid var(--white);

                @include m.respond-to(tablet) {
                    border-bottom: 2px solid var(--white);
                }
            }

            // 🎯 Aktive Spalte bleibt in Standardfarbe
            &.active-col {
                background-color: var(--neutral-light) !important; /* Aktive Spalte bleibt wie vorher */
                
                @include m.respond-to(tablet) {
                    border-bottom: 2px solid var(--neutral-light);
                }
            }

            // Hover-Effekt nur für nicht aktive Spalten
            &.comp-list:not(.active-col):hover {
                background-color: #e5e5e5;
            }
        }
    }

    // Container für die Beschreibung
    .description-container {
        width: 100%;
        max-width: 1280px;
        padding: 15px;
        margin: 0 0 40px 0;
        background: var(--neutral-light);
        display: none; /* Standardmäßig verstecken */
    }
}
