#experience {
  background: var(--white);

  .projects-container {
    display: none;
  }
  
  /* Standard-Stile für Akkordeon (Mobile Ansicht) */
  .accordion-button {
    width: 100%;
    display: block;
    background: #ddd;
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
    cursor: pointer;
  }

  .accordion-tabs-content {
    display: none;
    padding: 15px;
    background: #f4f4f4;
    border: 1px solid #ccc;
  }

  /* Container für den Inhalt in der Desktop Ansicht */
  .accordion-content-display {
    display: none;
    margin-top: 20px;
  }

  /* Desktop Ansicht (ab 768px) */
  @media (min-width: 768px) {
    .accordion-button {
      display: inline-block;
      width: auto;
      margin-right: 15px;
      background: #ddd;
      padding: 10px 15px;
      text-align: center;
      cursor: pointer;
      border: 1px solid #ccc;
    }

    /* Container für den Inhalt (Desktop) */
    .accordion-content-display {
        display: block;
    }

    /* Tabs nebeneinander anordnen */
    .accordion-tabs-container {
        display: flex;
        flex-wrap: wrap;
    }

    /* Zeige nur den Inhalt des aktiven Tabs */
    .accordion-tabs-content.active {
        display: block;
    }

    /* Inhalt des Akkordeons in der Desktop-Ansicht verstecken */
    .accordion-tabs-content {
        display: none;
    }
  }

  /* Wenn wir in die mobile Ansicht wechseln, wird der Inhalt wieder angezeigt */
  @media (max-width: 767px) {
    .accordion-button {
        width: 100%; /* Vergrößern der Buttons auf Mobile */
    }

    .accordion-tabs-content.active {
        display: block;
    }
  }


  /* Desktop Ansicht (ab 768px) */
  @media (min-width: 768px) {
 

    .accordion-tabs-content {
        display: none; /* Alle Inhalte sind standardmäßig unsichtbar auf Desktop */
    }
  }
}