@use "../utils/mixins" as m;

#experience {
  background: var(--white);

  .col-50 {
    .col {
      padding: 0;
    }
  }

  .toggle-projects {
    background: #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
    align-items: center;
    padding: 24px 48px 24px 24px;
    transition: background-color 0.3s ease;
    position: relative;
    &:hover {
      text-decoration: none;
      background: #dcdcdc;
    }

    .plus-minus {
      top: 0;
      @include m.respond-to(tablet) {
        top: auto;
      }
    }
    
  }

  .projects-container {
    display: none;

    .projects-intro {
      padding: 24px 0;
    }
  }
  
  /* Standard-Stile für Akkordeon (Mobile Ansicht) */
  .accordion-button {
    width: 100%;
    display: block;
    background: #ddd;
    padding: 10px;
    text-align: left;
    border: 0 none;
    margin: 12px 0 0 0;
    cursor: pointer;
  }

  .accordion-tabs-content {
    display: none;
    background: #f4f4f4;
    padding: 12px 12px 0 12px;

    img {
      height: auto;
    }

    h4 {
      padding: 0 0 14px 0;
      font-size: 1rem;
    }

    p {
      margin: 0 0 24px 0;
    }
  }

  /* Container für den Inhalt */
  .accordion-content-display {
    display: none;
    margin-top: 20px;
  }

  /* Desktop Ansicht (ab 768px) */
  @media (min-width: 768px) {
    .accordion-button {
      display: inline-block;
      width: auto;
      margin-right: 12px;
      background: #e5e5e5;
      color: var(--neutral-dark);
      padding: 10px 15px;
      text-align: center;
      cursor: pointer;
      transition: 0.3s ease;
      &:hover {
        background: #dcdcdc;
      }
      &.active {
        background: var(--hero-bg);
        color: var(--neutral-light);
      }
    }

    /* Container für den Inhalt (Desktop) */
    .accordion-content-display {
        display: block;

        h4 {
          padding: 0 0 14px 0;
          font-size: 1.2rem;
        }

        p {
          margin: 0 0 24px 0;
        }

        ul {
          margin: 0 0 0 24px;
          padding: 0;
        }
    }

    /* Tabs nebeneinander anordnen */
    .accordion-tabs-container {
        display: flex;
        flex-wrap: wrap;
        h4 {
          margin: 24px 0 0 0!important;
          font-size: 1.2rem;
        }
    }

    /* Zeige nur den Inhalt des aktiven Tabs */
    .accordion-tabs-content.active {
        display: block;
    }

    /* Inhalt des Akkordeons in der Desktop-Ansicht verstecken */
    .accordion-tabs-content {
        display: none;
    }
  }

  /* Wenn wir in die mobile Ansicht wechseln, wird der Inhalt wieder angezeigt */
  @media (max-width: 767px) {
    .accordion-button {
        width: 100%; /* Vergrößern der Buttons auf Mobile */
    }

    .accordion-tabs-content.active {
        display: block;
    }
  }


  /* Desktop Ansicht (ab 768px) */
  @media (min-width: 768px) {
 

    .accordion-tabs-content {
        display: none; /* Alle Inhalte sind standardmäßig unsichtbar auf Desktop */
    }
  }
}