@use "../utils/mixins" as m;

.faq {
  background: var(--neutral-light);

  .accordion-content {
    &-collapse {
      display: none;
      overflow: hidden;
  
      &.show {
        display: block;
      }
    }
  
    &-header {
      margin: 0;
      padding: 0;
    }
  
    &-button {
      display: flex;
      background: #e5e5e5;
      font-size: 1rem;
      color: var(--primary-color);
      position: relative;
      cursor: pointer;
      width: 100%;
      border: none;
      margin: 0 0 12px 0;
      padding: 12px 42px 12px 12px;
      min-height: 36px;
      align-items: center;
      text-align: left;
      transition: background 0.3s ease-in-out;
      text-wrap: wrap;

      @include m.respond-to(tablet) {
        margin: 0 0 12px 0;
        padding: 24px 48px 24px 24px;
        font-size: 1.2rem;
      }
  
      .accordion-icon {
        text-decoration: none;
      }

      &:hover{
        background-color: #dcdcdc;
      };
    }
  
    &-body {
      color: var(--text-color);
      margin: 0 12px 12px 0;
      padding: 0px 0 0px 12px;
      font-size: 1rem;

      @include m.respond-to(tablet) {
        margin: 0 24px 12px 0;
        padding: 20px 0 20px 20px;
        font-size: 1.2rem;
      }
    }
  
    &-icon {
      position: absolute;
      right: 6px;
      top: 6px;
      font-size: 20px;
      font-weight: normal;
      display: inline-block;
      background: var(--primary-color);
      color: var(--neutral-light);
      width: 24px;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;

      @include m.respond-to(tablet) {
        right: 10px;
        top: auto;
        font-size: 30px;
        width: 32px;
        height: 32px;
      }
    }
  }
}
