.faq {
  background: var(--neutral-light);

  .accordion-content {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;

    &-collapse {
      display: none;
      overflow: hidden;
  
      &.show {
        display: block;
      }
    }
  
    &-header {
      margin: 0;
      padding: 0;
    }
  
    &-button {
      display: flex;
      background: #e5e5e5;
      font-size: 1.2rem;
      color: var(--primary-color);
      position: relative;
      cursor: pointer;
      width: 100%;
      border: none;
      padding: 24px;
      margin: 0 0 12px 0;
      min-height: 36px;
      align-items: center;
      text-align: left;

      transition: background 0.3s ease-in-out;
  
      .accordion-icon {
        text-decoration: none;
      }

      &:hover{
        background-color: #dcdcdc;
      };
    }
  
    &-body {
      color: var(--text-color);
      margin: 0 60px 12px 0;
      padding: 20px 0 20px 20px;
      font-size: 1.2rem;
    }
  
    &-icon {
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 30px;
      font-weight: normal;
      display: inline-block;
      background: var(--primary-color);
      color: var(--neutral-light);
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
