@use "../utils/mixins" as m;

.hero {
    min-height: calc(100vh - 58px);
    background: var(--hero-bg);
    color: var(--neutral-light);
    padding-top: 50px;
    position: relative;

    @include m.respond-to(tablet) {
        padding-top: 170px;
    }

    .hero-container {
        position: relative;
        width: 80%;
        max-width: 1280px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
            &.name::before {
                display: none;
                
                @include m.respond-to(tablet) {
                    content: 'Stefan Bozkurt';
                    font-size: 1.5rem;
                    color: var(--white);
                    display: inline-block;
                }
            }
        }

        .intro {
            width: 100%;
            
            @include m.respond-to(tablet) {
                width: 65%;
                padding: 0 2rem 0 0;
            }
        }

        .settings {
            background: var(--hero-bg);
            opacity: 0.9;
            color: var(--white);
            display: flex;
            justify-content: center;
            width: 50%;
            height: 60px;
            white-space: nowrap;
        
            a {
                padding: 10px 25px;
            }
        
            .settings_gear,
            .chevron {
                display: flex;
                align-items: center;
                justify-content: center;
        
                &.settings_gear {
                    padding-left: 12px;
                    width: 60px;
                    flex: 0 0 60px;
                }
        
                &.chevron {
                    width: 100px;
                    height: 60px;
                    border-left: 2px solid var(--hero-bg);
                    flex: 0 0 100px;
                    & a {
                        color: var(--white);
                    }
                    &:hover {
                        background-color: var(--light-grey);
                    }
                }
            }
        
            .settings-container {
                flex: 1;
                padding: 0 10px;
                position: relative;
                overflow: hidden;
            
                .settings-panel {
                    display: flex;
                    align-items: center;
                    left: 0;
                    width: 100%;
                    height: 60px;
                }
        
                select {
                    background: var(--hero-bg);
                    color: var(--white);
                    border: 1px solid var(--hero-bg);
                    padding: 10px;
                    margin: 0 10px 0 0;
                    cursor: pointer;
                }
            }
        }

        .stefan {
            width: 60%;
            margin: 2rem auto 0;

            @include m.respond-to(tablet) {
                width: 35%;
                position: absolute;
                right: 0;
                top: 0px;
                margin: 0 auto;
            }

            .network {
                position: relative;

                ul {
                    list-style: none;
                    display: flex;
                    justify-content: space-between;
                    padding: 0;
                    margin: 0;
                    width: 100%;
                
                    li {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-grow: 1;
                        height: 60px;
                        background: var(--super-light-grey);
                
                        &:nth-child(2) {
                            margin: 0 2px;
                        }
                
                        a {
                            color: var(--neutral-light);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                            height: 100%;
                            text-decoration: none;
                            &:hover {
                                background: var(--light-grey);
                            }
                        }
                    }
                
                    .menu-icon {
                        width: 30px;
                        height: 30px;
                        fill: currentColor;
                    }
                }
            }
        }
    }
}
