.know-how {

    background: var(--neutral-light);

    .knowHowContainer {
        width: 80%;
        max-width: 1280px;
        margin: 0 auto;
    }

    .know-how-container {
        display: flex;
        flex-direction: column;
        gap: 0;
        margin-bottom: 40px;
    }

    .know-how-container:last-of-type {
        margin-bottom: 0;
    }

    .left {
        display: flex;
        gap: 0;
    }

    .right {
        display: flex;
        justify-content: flex-end; /* Damit wird der rechte Container nach rechts verschoben */
        gap: 0;
    }

    .content-large {
        width: 50%;
        background-color: var(--white);
        padding: 20px;
    }

    .content-small {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25%;
        padding: 20px;
    }
}
