#know-how {

    .know-howContainer {
        width: 80%;
        max-width: 1280px;
        margin: 0 auto;
    }

    .col-50 {
        margin: 0 0 40px 0;
        gap: 40px;
        .col {
            background: var(--white);
        }
    }
    h3 {
        margin: 0 0 20px 0px;
    }
    p {
        margin-bottom: 20px;
    }

    abbr {
        font-weight: bold;
        cursor: help;
    }
    ul {
        margin: 0 0 40px 30px;
    
        li {
            font-size: 1.2rem;
        }
    }
}

.dark-theme {
    #know-how {
        .col-50 {
            .col {
                background: var(--neutral-dark);
                color: var(--neutral-light);
                border: 1px solid var(--neutral-light);
            }
        }
    }
}