@use "../utils/mixins" as m;

.footer {
    width: 90%;
    max-width: 1280px;
    margin: 24px auto;
    padding-top: 40px;
    color: var(--neutral-light);
    font-size: 1.2rem;

    @include m.respond-to(tablet) {
        width: 80%;
    }
    ul {
        margin: 24px 0 0 0;
        list-style-type: none;
        border: 0;
    }

    ul.network-menu {
        li {
            display: inline-block;
            margin: 0 24px 0 0; 
        }
    }

    a {
        color: var(--neutral-light);
    }

    .col-50 .col {
        padding: 0;
    }
}
