.footer {
    width: 80%;
    max-width: 1280px;
    margin: 24px auto;
    padding-top: 40px;
    color: var(--neutral-light);
    ul {
        margin: 24px 0 0 0;
        list-style-type: none;
        border: 0;
        li {
            font-size: 1.25rem;
        }
    }

    ul.network-menu {
        li {
            display: inline-block;
            margin: 0 24px 0 0;
        }
    }

    .col-50 .col {
        padding: 0;
    }
}
