.header-nav {
    max-width: 80%;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    // On Scroll animation
    -webkit-transition: -webkit-transform 0.7s .3s ease;
    -moz-transition:       -moz-transform 0.7s .3s ease;
     -ms-transition:        -ms-transform 0.7s .3s ease;
         transition:            transform 0.7s .3s ease;

    // Stop animation flicker
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
}

.dark-theme .header-nav {
    background-color: var(--neutral-dark);
    color: var(--neutral-light);
}

.brand {
    font-size: 2rem;
    font-weight: bold;
}

.brand a {
    font-size: clamp(1.5rem, -0.875rem + 8.333vw, 3.5rem);
    color: var(--main-text-color);
    white-space: nowrap;
    text-decoration: none;
    padding-top: 10px;
    display: inline-block;
}

#header-nav.hide-nav-bar {
    -webkit-transform: translate(0, -100%);
       -moz-transform: translate(0, -100%);
        -ms-transform: translate(0, -100%);
            transform: translate(0, -100%);
    -webkit-backface-visibility: hidden;
}
