.accordion-collapse {
    display: none;
    overflow: hidden;
}

.accordion-collapse.show {
    display: block;
}

.accordion-header {
    margin: 0;
    padding: 0;
}

.accordion-button {
    background-color: transparent;
    color: var(--primary-color);
    font-size: 1.2rem;
    position: relative;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none;
    padding: 20px 0 20px 20px;
}

.accordion-body {
    color: var( --text-color);
    padding: 0px 0 20px 52px;
    font-size: 1.2em;
}

.dark-theme .accordion-body {
    color: var(--neutral-light);
}

.accordion-icon {
    font-weight: bold;
    font-size: 1.2em;
    padding-right: 10px;
    display: inline-block;
}
