/* Menu Link Styles */
.menu-link {
    height: 32px;
    width: 32px;
    cursor: pointer;
    display: inline;
    margin: 20px;
    position: absolute;
    right: 55px;
    top: 10px;
    z-index: 9999;
}

.menu-link .bar1,
.menu-link .bar2,
.menu-link .bar3 {
    margin-top: 3px;
    background: var(--primary-color);
    width: 32px;
    height: 4px;
    position: absolute;
    transition: transform 0.3s ease, opacity 0.3s ease; /* Weiche Animationen */
}

.menu-link .bar2 {
    margin-top: 13px;
}

.menu-link .bar3 {
    margin-top: 23px;
}

/* Animationszustand für aktive Navigation */
.menu-link.active .bar1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.menu-link.active .bar2 {
    opacity: 0; /* Unsichtbar machen */
}

.menu-link.active .bar3 {
    transform: rotate(45deg) translate(-8px, -9px);
}

#settings-toggle {
    position: absolute;
    right: 20px;
    top: 30px;
    width: 30px;
    height: auto;
    z-index: 9999;
}

#settings.active {
    display: block;
}

#settings-toggle {
    transition: transform 0.3s ease; /* Weiche Animation */
}

#settings-toggle.flipped {
    transform: scaleX(-1); /* Horizontal flippen */
}

nav[role=settings-navigation] {
    position: absolute;
    right: 0px;
    top: 15px;
    width: 100%;
    max-width: 360px;
    padding: 15px;
    background: white;
    display: none;

    .theme-toggle {
        margin-top: 6px;
    }

    .language-selection,
    .font-size-controls {
        display: flex;
        justify-content: flex-end;

        button {
            background: var(--primary-color);
            color: var(--neutral-light);
            border: 1px solid var(--neutral-light);
            cursor: pointer;
        }
    }
}

.dark-theme .font-size-controls {
    button {
        background: var(--neutral-dark)!important;
        color: var(--neutral-light);
        border: 1px solid var(--neutral-light);
    }
}

nav[role=navigation] {
    position: absolute;
    right: 0px;
    top: 15px;
    width: 100%;
    max-width: 360px;
    z-index: 999;
    padding: 15px;
    background: white;

    ul.main-menu  {
        margin: 20px 0 0 0;
        border-bottom: 1px solid var(--neutral-dark);
        li {
            list-style-type: none;
            font-size: 1.5rem;
        }
    }

    .menu-icon {
        fill: var(--primary-color);
        color: var(--primary-color);
        width: 30px;
        height: 30px;
    }

    ul.network-menu  {
        width: 100%;
        margin: 20px 0 5px;
        display: flex;
        justify-content: space-between;

        li {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;    
            list-style-type: none;
            margin: 0;
        }
    }
}

.dark-theme #settings,
.dark-theme #menu {
    background: var(--neutral-dark);
    border: 1px solid var(--neutral-light);
}

.dark-theme ul.main-menu  {
    border-bottom: 1px solid var(--neutral-light)!important;
}

.dark-theme .header-nav { 
    .menu-link .bar1,
    .menu-link .bar2,
    .menu-link .bar3 {
        background: var(--neutral-light);
    }
    
    a .menu-icon {
        color: var(--neutral-light) !important;
        fill: var(--neutral-light) !important;
    }
}

