@use "../utils/mixins" as m;

.navigation-bar {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
	height: 64px;
	background: var(--hero-bg);

    @include m.respond-to(tablet) {
        position: sticky;
        -webkit-box-shadow: 0 14px 14px -14px rgba(0, 0, 0, .75);
        -moz-box-shadow: 0 14px 14px -14px rgba(0, 0, 0, .75);
        box-shadow: 0 14px 14px -14px rgba(0, 0, 0, .75);
        margin: 0 auto;
	    height: 60px;
    }

    a.active {
        color: var(--secondary-color);
        background: var(--light-grey);
        transition: color 0.3s ease, transform 0.3s ease;
    }

	.brand {
        font-size: 1.5rem;
        opacity: 1;
		width: 80%;
		margin: 8px auto;

        @include m.respond-to(small-phone) {
            font-size: 1.2rem;
			width: 90%;
		}

		@include m.respond-to(tablet) {
			opacity: 0;
            font-size: 1.5rem;
            margin: 0 auto;
            width: 100%;
		}

        a {
            color: var(--neutral-light);
            padding: 10px 0;
            display: block;
			text-decoration: none;
			position: absolute;
        }
    }

    .navbar {
        display: none;
        padding: 0;
        background: var(--hero-bg);
        max-width: 1280px;
        width: 80%;
        margin: 0 auto;

        @include m.respond-to(tablet) {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
        	align-items: flex-end;

            .nav__items {
                margin: 0;
                padding: 0;
                list-style: none;
                display: flex;
                justify-content: center;
                align-items: center;

                .nav__item {
                    margin: 0;

                    .nav__link {
                        color: var(--neutral-light);
                        font-size: 1.5rem;
                        border: 1px solid var(--hero-bg);
                        padding: 10px 13px;
                        margin: 0;
                        text-align: center;
                        display: block;
                        white-space: nowrap;

                        &:hover {
                            text-decoration: none;
                            background: var(--light-grey);
                        }
                    }
                }
            }
        }
    }
    
}

/* Modal Styling */
.menu-modal {
    position: fixed;
    top: 0;
    right: -80%; /* Startposition (außerhalb des Bildschirms) */
    height: auto; /* Höhe basierend auf dem Inhalt */
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    opacity: 0;
    transition: right 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

/* Modal Styling */
.menu-modal {
    position: fixed;
    top: 64px;
    right: 0;
    height: auto;
    background: var(--neutral-light);
    z-index: 1000;
    opacity: 0; /* Anfangszustand - unsichtbar */
    visibility: hidden; /* Modal ist standardmäßig unsichtbar */
    transition: opacity 0.3s ease-in-out, visibility 0s 0.3s; /* Nur Übergang der Sichtbarkeit */

    ul {
        list-style: none;
        padding: 10px;
        margin: 0;

        li {
            padding: 0;
            margin: 0;
            a {
                color: var(--hero-bg);
                font-size: 1.2rem;
                padding: 10px 10px;
                display: block;
                text-align: right;
                text-decoration: none;
                transition: color 0.3s ease;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.menu-modal.active {
    opacity: 1; /* Sichtbar machen */
    visibility: visible; /* Sichtbarkeit aktivieren */
    transition: opacity 0.3s ease-in-out, visibility 0s 0s; /* Sofortige Sichtbarkeit bei Aktivierung */
}
