#settings-toggle {
    width: 30px;
    height: auto;
    transition: transform 0.3s ease;

    &.flipped {
        transform: scaleX(-1);
    }
}

#settings {
    &.active {
        display: block;
    }
}