.timeline {
    line-height: 1.4em;
    list-style: none;
    margin: 30px 0 0;
    padding: 0;
    width: 100%;
}

.timeline-item {
    padding-left: 40px;
    position: relative;
    &:last-child {
        padding-bottom: 0;
    }
}

.timeline-info {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 0 0 .5em 0;
    text-transform: uppercase;
    white-space: nowrap;
}

.timeline-marker {
    position: absolute;
    top: 0; bottom: 0; left: 0;
    width: 15px;
    &:before {
        background: var(--primary-color);
        border: 3px solid transparent;
        content: "";
        display: block;
        height: 15px;
        position: absolute;
        top: 4px; left: 0;
        width: 15px;
        transition: background 0.3s ease-in-out,
                border 0.3s ease-in-out;
    }
    &:after {
        content: "";
        width: 3px;
        background: #CCD5DB;
        display: block;
        position: absolute;
        top: 24px;
        bottom: 0; 
        left: 6px;
    }

    @media (max-width: 768px) {
        &:after {
            top: 18px;
            bottom: -12px; 
        }
    }

    .timeline-item:last-child &:after {
        content: none;
    }
}

.timeline-content {
    margin: 0 0 0 0;
    p:last-child {
        margin-bottom: 0;
    }
}

.period {
    padding: 0;
    .timeline-info {
        display: none;
    }
    .timeline-marker {
        &:before {
            background: transparent;
            content: "";
            width: 15px;
            height: auto;
            border: none;
            border-radius: 0;
            top: 0;
            bottom: 30px;
            position: absolute;
            border-top: 3px solid #CCD5DB;
            border-bottom: 3px solid #CCD5DB;
        }
        &:after {
            content: "";
            height: 32px;
            top: auto;
        }
    }
    .timeline-content {
        padding: 40px 0 70px;
    }
    

    .timeline-title {
        margin: 24px 19px 30px -20px;
    }
}

@media (max-width: 991px) {
    .period .timeline-content {
        padding: 1px 0 15px;
    }
    .period .timeline-title {
        margin: 15px 19px 30px -10px;
    }
}

.timeline-split {
    @media (min-width: 991px) {
        .timeline {
            display: table;
        }
        .timeline-item {
            display: table-row;
            padding: 0;
        }
        h3.timeline-title {
            margin-top: -4px;
        }
        .timeline-info,
        .timeline-marker,
        .timeline-content,
        .period .timeline-info {
            display: table-cell;
            vertical-align: top;
        }
        .timeline-marker {
            position: relative;
        }
        .timeline-content {
            padding: 0px 0 24px 30px;
            margin: 0px 0 15px 0;
            width: 100%;
        }
        .timeline-info {
            padding-right: 30px;
        }
        .period .timeline-title {
            position: relative;
            left: -45px;
            line-height: 2rem;
        }
    }
}
        
.marker-outline {
    .timeline-marker {
        &:before {
            background: transparent;
            border-color: var(--primary-color);
        }
    }
    .timeline-item:hover .timeline-marker:before {
        background: var(--primary-color);
    }
}
