.competence { 

    .competenceContainer {
        max-width: 80%;
        margin: 0 auto;
    }

    img {
        margin: 0 auto;
    }

    h3 {
        min-height: 70px;
    }

    .col-33 {
        gap: 40px;
        .col {
            padding: 40px;
            background: var(--white);
            hyphens: auto;
            word-wrap: break-word;
            width: 100%;

            .teaser {
                display: flex;
                align-items: center;
                justify-content: center;
                min-height: 15vh;
                width: 100%;
            }
        }
    }
}

.dark-theme {
    .competence {
        .col-33 {
            .col {
                background: var(--neutral-dark);
                color: var(--neutral-light);
                border: 1px solid var(--neutral-light);
            }
        }
    }
}
