/* Allgemeines Styling */
.projects-container {
    display: none;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}

a.toggle-projects {
    font-weight: bold;
}


a.toggle-projects:hover {
    text-decoration: none;
}

.projects-list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.project {
    padding: 10px 0;
    cursor: pointer;
    background: var(--background-color);
    color: var(--primary-color);
}

.dark-theme .project {
    background: var(----neutral-dark);
    color: var(--primary-color);
}

.project.active {
    font-weight: bold;
}

.project:hover {
    text-decoration: underline;
}

.project-details {
    display: none;
}

.tab-projects-container .project-details {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

@media screen and (min-width: 769px) {
    .tab-projects-container .project-details {
        height: 450px;
    }
}

.tab-projects-container .project-details img {
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* Mobile Ansicht (< 768px) */
@media screen and (max-width: 768px) {
    .project.active + .project-details {
        display: block; 
    }

    .tab-projects-container {
        display: none; 
    }
}

/* Desktop Ansicht (≥ 769px) */
@media screen and (min-width: 769px) {
    .projects-container {
        display: flex; 
        flex-direction: row;
        gap: 10px;
    }

    .projects-list {
        flex: 0 0 22%;
    }

    .tab-projects-container {
        flex: 1; 
        display: block; 
    }

    .project-details {
        display: block; 
    }

    .project.active + .project-details {
        display: none; 
    }
}

.tag-list li.active-tag {
    background-color: var(--neutral-dark);
    color: var(--neutral-light);
    padding: 5px;
}

.dark-theme .tag-list li.active-tag {
    background-color: var(--neutral-light);
    color: var(--primary-color);
}