#know-how {
    h3 {
        margin: 0 0 20px 0px;
    }
    p {
        margin-bottom: 20px;
    }

    abbr {
        font-weight: bold;
        cursor: help;
    }
    ul {
        margin: 0 0 40px 30px;
    
        li {
            font-size: 1.2rem;
        }
    }
} 